@import '../../styles/variables.scss';
@import '../../styles/breakpoint.scss';

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include viewport(medium) {
    justify-content: left;
  }
  .current-page {
    background-color: $white;
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
  }
}