{
  "extends": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/prefer-default-export": "off",
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
    "semi": ["error", "never"],
    "no-nested-ternary": "off"
  },
  "globals": {
    "jest": true,
    "createRenderer": true,
    "mockComponent": true
  }
}
