@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/proximanova-light-webfont.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/proximanova-light-webfont.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/proximanova-light-webfont.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/proximanova-light-webfont.ttf) format("truetype")
}

@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/proximanova-bold-webfont.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/proximanova-bold-webfont.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/proximanova-bold-webfont.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/proximanova-bold-webfont.ttf) format("truetype")
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/proximanova-regular-webfont.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/proximanova-regular-webfont.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/proximanova-regular-webfont.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/proximanova-regular-webfont.ttf) format("truetype")
}

@font-face {
  font-family: "Proxima Nova Ex Cn";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/proximanovaexcn-light-webfont.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/proximanovaexcn-light-webfont.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/proximanovaexcn-light-webfont.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/proximanovaexcn-light-webfont.ttf) format("truetype")
}

@font-face {
  font-family: "Proxima Nova Ex Cn Thin";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/ProximaNovaExCn-Thin.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/ProximaNovaExCn-Thin.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/ProximaNovaExCn-Thin.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/ProximaNovaExCn-Thin.ttf) format("truetype")
}

@font-face {
  font-family: "Freight Big Light Italic";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/FreightBigLightItalic.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/FreightBigLightItalic.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/FreightBigLightItalic.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/FreightBigLightItalic.ttf) format("truetype")
}

@font-face {
  font-family: "Freight Big Book Regular";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/freightbigbook-webfont.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/freightbigbook-webfont.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/freightbigbook-webfont.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/freightbigbook-webfont.ttf) format("truetype")
}

@font-face {
  font-family: "Didot Lt Pro Roman";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/DidotLTPro-Roman.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/DidotLTPro-Roman.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/DidotLTPro-Roman.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/DidotLTPro-Roman.ttf) format("truetype")
}

@font-face {
  font-family: "Didot Lt Std Italic";
  font-style: normal;
  font-weight: 400;
  src: url(https:/www.theiconic.com.au/fonts/DidotLTStd-Italic.eot) format("eot"),url(https:/www.theiconic.com.au/fonts/DidotLTStd-Italic.woff2) format("woff2"),url(https:/www.theiconic.com.au/fonts/DidotLTStd-Italic.woff) format("woff"),url(https:/www.theiconic.com.au/fonts/DidotLTStd-Italic.ttf) format("truetype")
}